#bg {
  min-height: 200px;
  width: 716px;
  margin-left: auto;
  margin-right: auto;
  border: #301900 2px solid;
}

.module {
  position: relative;
  top: 5%;
  height: 70%;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

h1
{
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #fffdd0;
}

.form {
  height: 86%;
  width: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.textbox {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: #301900 2px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  background-color: #fffdd0;
}

.button {
  height: 50px;
  width: 100%;
  border-radius: 3px;
  border: #000 0px solid;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  background: #352117;
  color: #FFF;
  font-weight: bold;
  font-size: 12pt;
  cursor: pointer;
}

.button:hover {
  background: #9a6b4b;
}