* {
  margin: 0;
  padding: 0;
}

body{
	background-color: #4E2E28;
}

#registration nav ul a:nth-child(3) li{
	text-decoration: underline;
}

#login nav ul a:nth-child(2) li{
	text-decoration: underline;
}

nav ul{
	width: 718px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 20px;
}

nav ul a li{
	list-style-type: none;
	width: 236.6px;
	height: 40px;
	float: left;
	padding-top: 18px;
	text-align: center;
	border: 2px solid #301900;
	font-size: 18px;
}

nav ul a:nth-child(3) li
{
	border-left: 0;
}

nav ul a:nth-child(1) li
{
	border-right: 0;
}

nav ul a li:hover{
	background-color: #9a6b4b;
	cursor: pointer;
	text-decoration: underline;
}

nav ul a{
	color: #fffdd0;
}